

@media screen and (min-width:576px) and (max-width:992px) {
    
}

         /* mobile screen */

@media screen and (max-width:576px) {
    /* navbar */
    .nav-items{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .navbar{
        width: 400px;
    }
    /* navbar end*/

    /* .banner-container start */
    .banner-container{
        flex-direction: column;
    }
    .banner-tittle {
        font-size:3.7rem;
        font-weight: 800;
    }

    /* .ban  ner-container end */

}