@media screen and (min-width:576px) and (max-width:992px) {}

/* mobile screen */

@media screen and (max-width:576px) {

    /* navbar */
    .nav-items {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .navbar {
        width: 400px;
        margin-left: 25px;
    }

    /* navbar end*/

    /* .banner-container start */
    .banner-container {
        flex-direction: column;
    }

    .banner-tittle {
        font-size: 3.7rem;
        font-weight: 800;
    }

    .banner-card {
        width: 170px;
        height: 80px;
        top: 40%;
        left: 5%;
    }

    .banner-card-2 {
        width: 170px;
        height: 80px;
        left: 40%;
    }

    /* .ban  ner-container end */

    /* habit-content start */
    .habit-container {
        margin-top: 10px;
    }

    .habit-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .habit-card-1,
    .habit-card-2,
    .habit-card-4,
    .habit-card-3 {
        gap: 20px;
    }
    .habit-items{
        margin-bottom: 20px;
    }
    /* habit-content end */

}