@media screen and (min-width:576px) and (max-width:992px) {}

/* mobile screen */

@media screen and (max-width:576px) {

    /* navbar */
    .btn-normal {
        width: 160px;
        height: 54px;
        border-radius: 42px;
        border: 2px solid;
        color: white;
        font-size: 18px;
        font-weight: 400;
        background-color: black;
        margin-left: 14px;
    }
    .btn {
        width: 160px;
        height: 54px;
        border-radius: 42px;
        background: rgb(230, 83, 60);
        border: none;
        color: white;
        font-size: 18px;
        font-weight: 400;
    }
    

    .nav-items {
        display: none;
    }

    .hamburger {
        display: block;
        margin-right: 35px;
    }
    .banner-btn {
        padding: 5px;
        display: flex;
    }

    .navbar {
        width: 400px;
        margin-left: 25px;
        justify-content: space-between;
    }

    /* navbar end*/

    /* .banner-container start */
    .banner-container {
        flex-direction: column;
    }
    .banner-content{
        margin-left: 20px;
    }

    .banner-tittle {
        font-size: 3.7rem;
        font-weight: 800;
    }

    .banner-card {
        width: 170px;
        height: 80px;
        top: 40%;
        left: 5%;
    }

    .banner-card-2 {
        width: 170px;
        height: 80px;
        left: 40%;
    }

    /* .ban  ner-container end */

    /* habit-content start */
    .habit-container {
        margin-top: 10px;
    }

    .habit-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .habit-card-1,
    .habit-card-2,
    .habit-card-4,
    .habit-card-3 {
        gap: 20px;
    }
    .habit-items{
        margin-bottom: 20px;
    }
    /* habit-content end */

    /* run extra mile start */
    .run-extra-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .run-extra-content{
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        margin-top: 50px;
        padding: 15px 20px;
    }
    .run-extra-img{
        width: 100%;
        padding:5px 25px;
        object-fit: cover;
    }
    /* run extra mile end */

    /* .training-container start */
    .training-container{
        margin-left: 25px;
    }
    .row-1, .row-2{
        grid-template-columns: 1fr 1fr;
    }
    .train-card-2 h5{
        top: 10%;
        left: 15px;
    }
    .hidden{
        display: none;
    }
    /* .training-container end */

    /* bmi section start */
    .bmi-container{
        margin: 100px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
    .bmi-section{
        border: 1px solid rgba(255, 255, 255, 0.067);
        background-color: rgba(255, 255, 255, 0.067);
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .chart{
        width: 80%;
        margin-bottom: 100px;
        margin-right: 90px;
    }
    .calculator{
        width: 70%;
        margin-left: 160px;
    }
    input ,select{
        width: 45%;
    }
    #select{
        width: 95%;
    }
    .calculator form > button{
        margin-top: 30px;
        margin-bottom: 20px;
    }
    /* bmi section end */

    /* meet-container start */
    .meet-row-1 {
        grid-template-columns: 1fr;
    }
    .meet-row-2 {
        grid-template-columns: 1fr;
    }
    .trainer1{
        display:none;
    }
    .trainer4{
        display:none;
    }
    .hide{
        display: none;
    }
    .meet-row-2 img{
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 18px;
    }
    .meet-row-1 img{
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 18px;
    }
    .meet-card > .meet-title{
        position: absolute;
        top: 85%;
        left: 10%;
    }
    .meet-card > .meet-des{
        position: absolute;
        top: 90%;
        left: 10%;
    }
    /* meet-container end */
}