@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background: rgb(0, 0, 0);
    color: white;
}

.header-container {
    border: 0.1px solid black;
    background: linear-gradient(90deg, rgb(17, 17, 17), rgba(119, 119, 119, 0.2) 100%);
}

.main-container {
    max-width: 1044px;
    margin: 0 auto;
    border: 2px solid green;
}

/* shared styles */
.btn {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

/* navbar start here */
.navbar {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 58px;
    margin-bottom: 32px;
}

.nav-title {
    color: rgb(230, 83, 60);
    font-size: 1.7rem;
    font-weight: 800;
    font-style: italic;
}

.nav-items {
    display: flex;
    justify-content: space-evenly;
    gap: 60px;
    margin-right: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    padding: 10px;
    font-size: 0.8rem;
    cursor: pointer;
}

#home {
    background: rgb(230, 83, 60);
    width: 60px;
    border-radius: 40px;
    padding: 2px;
    text-align: center;
}

.hamburger {
    display: none;
    font-size: 20px;
}

/* navbar ends here */

/* banner-container start */
.banner-container {
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.banner-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 97px;
}

.banner-tittle {
    font-size: 4.7rem;
    font-weight: 900;
    padding: 5px;
}

.font {
    font-style: italic;
    font-weight: 400;
}

.banner-description {
    opacity: 0.5;
    padding: 5px;
}

.banner-btn {
    padding: 5px;
}

.btn-normal {
    width: 224px;
    height: 54px;
    border-radius: 42px;
    border: 2px solid;
    color: white;
    font-size: 18px;
    font-weight: 400;
    background-color: black;
    margin-left: 14px;

}

.banner-img {
    position: relative;
}

.banner-card {
    width: 206px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
    background: rgba(247, 243, 243, 0.185);
    border-radius: 12px;
    position: absolute;
    top: 70%;
    right: 70%;
}

.card-title {
    font-size: 1.2rem;
    font-weight: 900;
}

.card-description {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.6px;
    opacity: 0.7;
}

.banner-card-2 {
    width: 206px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: white;
    background: rgba(247, 243, 243, 0.185);
    border-radius: 12px;
    position: absolute;
    top: 20%;
    left: 65%;
}

.card-title-2 {
    font-size: 2rem;
    font-weight: 900;
}

.card-description-2 {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.6px;
    opacity: 0.7;
}

.circle {
    height: 40px;
    width: 40px;
    background: rgb(230, 83, 60);
    border: none;
    border-radius: 50%;
}

/* banner-container end */

/* habit-container start */
.habit-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.habit-content {
    text-align: center;
}

.habit-title {
    font-size: 2.8rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.habit-description {
    font-size: 0.8rem;
    opacity: 0.5;
    margin-bottom: 58px;
}
.habit-card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.habit-card-1,
.habit-card-2,
.habit-card-4,
.habit-card-3 {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.habit-card-img {
    width:80%;
}
.habit-card-img img {
    width: 100%;
    border-radius: 100%;
}
.habit-card-title{
    font-size: 1.1rem;
    font-weight: 600;
}
.habit-card-description{
    font-size: 0.7rem;
    font-weight: 400;
    opacity: 0.5;
}
/* habit-container end */

/* run-extra-container start */
.run-extra-container{
    border: 1px solid rgba(255, 255, 255, 0.067);
    background-color: rgba(255, 255, 255, 0.067);
    border-radius: 10px;
    display: flex;
    gap: 65px;
}
.run-extra-content{
    width: 45%;
    padding: 41px 54px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.extra-title{
    font-size: 3rem;
    font-weight: 900;
}
.run-description{
    opacity: 0.5;
    font-size: 0.8rem;
    margin-bottom: 15px;
}
.run-extra-img{
    width: 50%;
    padding: 41px 54px;
}
.run-extra-img img{
    width: 100%;
    border-radius: 20px;
}
/* run-extra-container end */